# Node / Frontend
node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Rust / Tauri
target/
src-tauri/target/
**/*.rs.bk

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains
.idea/
*.iml
